body{
    font-family: "Hiragino Kaku Gothic ProN", YuGothic, "Yu Gothic", Verdana, Meiryo, sans-serif;
}
.container{
    margin-top: 20px;
    margin-bottom: 40px;
}

/* .postRaw {
    font-size: 16px;
    width: 600px;
    margin: auto;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    font-weight: bold;
    color: #6091d3;
    background: #FFF;
    border: solid 2px #6091d3;
    border-radius: 5px;
} */

.postRaw {
   padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.replies_num{
    display: inline-block;
}

.space {
    white-space: pre-wrap;
}
.created_at{
    font-size: 0.8em;
    text-align: right;
}
.error {
    color: rgb(219, 76, 76);
}
.header{
    font-size: 16px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    background-color: #6091d3;
    color: #FFF;
    box-shadow: 2px 2px 3px 1px rgb(143, 143, 143);
    -moz-box-shadow: 2px 2px 3px 1px rgb(143, 143, 143);
    -webkit-box-shadow: 2px 2px 3px 1px rgb(143, 143, 143);
}
.header > .login-logout > a{
    color: #FFF;
}
.login-logout{
    text-align: right;
    border-style: none;
    background-color: #6091d3;
    color: #FFF;
    display: block;
    margin: 0 0 0 10px;
}
.login-logout:hover{
    opacity: 0.8;
    border-style: none;
}
.userName{
    text-align: left;
    margin-left: 10px;
}

h1{
    font-size: 30px;
}

.post_form {
    position: relative;
	width: 80%;
    /* margin: 10px 3%; */
    margin: 20px auto 30px auto;
    font-size: 16px;
}

/* .post_form input, textarea {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 80%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
} */

.form_box{
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}
.form_box > label {
    width: 130px;
    text-align: center;
    margin: 0;
}
.form_box > input, textarea {
     display: block;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    margin-left: 10px;
    width: calc(100% - 130px);
    position: relative;
}


.post_form input:focus, textarea:focus {
    /* border-color: #da3c41; */
    border: 2px solid #da3c41;
}

.post_form > button {
    background-color: #F5DEB3;
    border: 1px solid #F5DEB3;
    border-radius: 4px;
    color: #000;
    display: block;
    width: 250px;
    margin: 15px auto 0;
    line-height: 48px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.delete_button{
    background-color: #F5DEB3;
    border: 1px solid #F5DEB3;
    border-radius: 4px;
    color: #000;
    display: block;
    width: 100px;
    margin: 0px 0px 0px auto;
    line-height: 24px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
}
.delete_button:hover{
    opacity: 0.8;
}



.post_form > button:hover {
    opacity: 0.8;
}

.post_form textarea {
    height: calc( 1.3em * 5 );
    line-height: 1.3;
}

.form_box a {
    display: block;
    text-align: center;
    /* 画像サイズに合わせる */
    width: 191px;
    height: 46px;
    margin: 0px auto;

}
.google_button {
    display: block;
}


/* ページネーション */
.pagination {
  display: inline-block;
  margin: 5px auto;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination-block {
    display: block;
    text-align: center;
}


